/* .parent-caja: Es el contenedor principal que utiliza grid para organizar el diseño */
.parent-caja {
    display: grid; /* Utiliza el modelo de layout de grid */
    grid-template-columns: repeat(2, 1fr); /* Define dos columnas de tamaño igual */
    grid-template-rows: 0.2fr 0.5fr repeat(2, 0.2fr) 0.5fr; /* Define las alturas de las filas */
    grid-column-gap: 0px; /* No hay espacio entre columnas */
    grid-row-gap: 0px; /* No hay espacio entre filas */
    
    width: 80%; /* El contenedor ocupa el 80% del ancho de su contenedor padre */
    margin-left: auto; /* Centra el contenedor horizontalmente */
    margin-right: auto; /* Centra el contenedor horizontalmente */
    background-color: #ffffff; /* Color de fondo blanco */
}

/* .parent-caja: Es el contenedor principal que utiliza grid para organizar el diseño */
.parent-caja {

    /* Hacer el contenedor desplazable horizontalmente de derecha a izquierda */
    max-height: 80vh; /* Limita la altura máxima */
    overflow-y: hidden; /* Evita el scroll vertical */
    overflow-x: auto; /* Activa el scroll horizontal */
    // direction: rtl; /* Invierte la dirección del contenido para empezar desde la derecha */

    border: 1px solid #ddd; /* Opcional: Añade un borde para resaltar el contenedor */
}


/* .div1-caja: Ocupa la primera celda en el grid (fila 1, columna 1) */
.div1-caja {
    grid-area: 1 / 1 / 2 / 2; /* Ocupa la primera fila y la primera columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
}

/* .div2-caja: Ocupa la segunda celda (fila 2, columna 1) y tiene un padding para el texto */
.div2-caja {
    grid-area: 2 / 1 / 3 / 2; /* Ocupa la segunda fila, primera columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 20%; /* Aplica un padding del 20% a la izquierda */
    padding-right: 20%; /* Aplica un padding del 20% a la derecha */
    padding-top: 2.5%; /* Aplica un padding superior del 2.5% */
    padding-bottom: 2.5%; /* Aplica un padding inferior del 2.5% */
}

/* .row: Clase para alinear los elementos en fila, separados de manera equitativa */
.row {
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuye los elementos de forma equidistante */
}

/* .row-otro: Organiza los elementos en columna, alineados a la izquierda */
.row-otro {
    display: flex; /* Usa flexbox para organizar los elementos */
    flex-direction: column; /* Los elementos se organizan de arriba a abajo */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding-left: 8%; /* Aplica un padding del 8% a la izquierda */
    gap: 10px; /* Añade un espacio de 10px entre los elementos */
}

/* .div3-caja: Ocupa la tercera celda (fila 3, columna 1) */
.div3-caja {
    grid-area: 3 / 1 / 4 / 2; /* Ocupa la tercera fila, primera columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    padding-left: 55%; /* Aplica un padding del 55% a la izquierda */
    padding-bottom: 2.5%; /* Aplica un padding inferior del 2.5% */
}

/* .div4-caja: Ocupa la cuarta celda (fila 1, columna 2) */
.div4-caja {
    grid-area: 1 / 2 / 2 / 3; /* Ocupa la primera fila, segunda columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
}

/* .div5-caja: Ocupa la quinta celda (fila 2, columna 2) */
.div5-caja {
    grid-area: 2 / 2 / 3 / 3; /* Ocupa la segunda fila, segunda columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 20%; /* Aplica un padding del 20% a la izquierda */
    padding-right: 20%; /* Aplica un padding del 20% a la derecha */
    padding-top: 2.5%; /* Aplica un padding superior del 2.5% */
    padding-bottom: 2.5%; /* Aplica un padding inferior del 2.5% */
}

/* .div6-caja: Ocupa la sexta celda (fila 3, columna 2) */
.div6-caja {
    grid-area: 3 / 2 / 4 / 3; /* Ocupa la tercera fila, segunda columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    padding-left: 58%; /* Aplica un padding del 58% a la izquierda */
}

/* .div7-caja: Ocupa la séptima celda (fila 4, columna 1) */
.div7-caja {
    grid-area: 4 / 1 / 5 / 2; /* Ocupa la cuarta fila, primera columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
}

/* .div8-caja: Ocupa la octava celda (fila 5, columna 1) */
.div8-caja {
    grid-area: 5 / 1 / 6 / 2; /* Ocupa la quinta fila, primera columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 5%; /* Aplica un padding del 5% a la izquierda */
    padding-right: 5%; /* Aplica un padding del 5% a la derecha */
    padding-top: 2.5%; /* Aplica un padding superior del 2.5% */
    padding-bottom: 2.5%; /* Aplica un padding inferior del 2.5% */
}

/* .div9-caja: Ocupa la novena celda (fila 4, columna 2) */
.div9-caja {
    grid-area: 4 / 2 / 5 / 3; /* Ocupa la cuarta fila, segunda columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
}

/* .div10-caja: Ocupa la décima celda (fila 5, columna 2) */
.div10-caja {
    grid-area: 5 / 2 / 6 / 3; /* Ocupa la quinta fila, segunda columna */
    border: 1px solid #000; /* Borde de 1px de color negro */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 5%; /* Aplica un padding del 5% a la izquierda */
    padding-right: 5%; /* Aplica un padding del 5% a la derecha */
    padding-top: 2.5%; /* Aplica un padding superior del 2.5% */
    padding-bottom: 2.5%; /* Aplica un padding inferior del 2.5% */
}
