.BotIncrementar {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 90.1%;
}

.parentMostrarIncre {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border: 1px solid #000;
}

.form-titleIncr {
    margin-top: 2%;
    margin-bottom: 20px;
    display: grid;
    justify-content: left;
    margin-left: 10%;
}

.TituloForm {
    position: fixed; 
    right: 8%; 
    margin-top: -55px;
    margin-bottom: 15px;
    z-index: 1000;
    max-width: 3.5%;
    /* border: 1px solid #000; */
}


.parentMostrarProductos {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    border: 1px solid #000;
}

.form-titleProductos {
    margin-top: 2%;
    margin-bottom: 20px;
    display: grid;
    justify-content: left;
    /* margin-left: 2.5%; */
}

.btn-agregar {
    background-color: #5cd320;
    border-color: #5cd320;
    color: #fff;
}

.btn-quitar {
    margin-top: 5px;
    background-color: #f84c54;
    border-color: #f84c54;
    color: #fff;
}

.btn-realizar-venta {
    background-color: #4ca4f7;
    /* Azul */
    border-color: #0566c0;
    /* Misma tonalidad para el borde */
    color: #fff;
    /* Texto blanco para resaltar sobre el fondo */
}