/* Estilos para el contenedor principal que usa grid */
.parentMostrar {
  grid-column-gap: 10px;   /* Espaciado entre las columnas del grid */
  grid-row-gap: 10px;  /* Espaciado entre las filas del grid */
  background-color: #f0f2f5; /* Color de fondo del contenedor, tono gris claro */
  border: 1px solid #000; /* Borde de 1px de color negro */
}

.titulo {
  text-align: left;
}