/* Estilos para el contenedor principal de las vistas */
.vistas-container {
    font-family: Arial, sans-serif; /* Establece la fuente del contenedor como Arial o sans-serif */
  }
  
  /* Estilos para el contenedor de las pestañas */
  .tabs {
    display: flex; /* Usa flexbox para organizar las pestañas horizontalmente */
    border-bottom: 2px solid #ccc; /* Borde inferior de 2px gris claro para separar las pestañas del contenido */
  }
  
  /* Estilos para los botones de las pestañas */
  .tab-button {
    padding: 10px 20px; /* Espaciado interno de 10px en el eje vertical y 20px en el eje horizontal */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    /* border: black; */ /* Comentado: si se activa, agregaría un borde negro */
    background: #ccc; /* Fondo gris claro por defecto */
    border-bottom: 2px solid transparent; /* Borde inferior transparente para un efecto visual */
    transition: border-bottom 0.3s ease; /* Transición suave del borde inferior al pasar el cursor */
    color: black; /* Color del texto en negro */
  }
  
  /* Estilos para cuando el cursor pasa sobre el botón de la pestaña */
  .tab-button:hover {
    border-bottom: 2px solid #aaa; /* Cambia el borde inferior a gris oscuro al pasar el cursor */
  }
  
  /* Estilos para el botón de pestaña activa */
  .tab-button.active {
    border-bottom: 2px solid #1a3e8763; /* Borde inferior color personalizado para la pestaña activa */
    font-weight: bold; /* Hace el texto más grueso */
    background-color: #a09f9f; /* Cambia el fondo a un gris más oscuro cuando está activo */
  }
  