.ant-col {
  /* margin-bottom: 10px; */
}

.ant-card {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 90%;
  width: auto;
  /* border: 1px solid #000; */
}

@media (min-width: 768px) and (max-width:1820px) {
  .cardDisenio {
    margin-right: 10%;
    margin-left: 10%;
  }
}